@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #999;
  font-family: 'Raleway', sans-serif;
}

li { list-style-type: none; }

li a {
  color: #FFF;
  text-decoration: none;
}

section, footer {
  padding: 2% 0;
}

img {
  width: 100%;
  margin-bottom: 50px;
}

.container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.container:after {
  content:"";
  display: table;
  clear: both;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.center-vert {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-left { left: 0; }
.center-right { right: 0; }

.m-bottom-20 { margin-bottom: 20px; }
.m-bottom-50 { margin-bottom: 50px; }
.m-topbottom-20 { margin: 20px 0; }
.m-topbottom-50 { margin: 50px 0; }
.p-leftright-100 {padding: 0 100px; }

.w-50 { width: 50%; }

.col-3 {
  width: 33.3%;
  float: left;
  padding: 10px;
  position: relative;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-2-float-right {
  width: 50%;
  float: right;
}

.col-1 {
  width: 100%;
  float: left;
}

.img-small {
  width: 20%;
  height: 50px;
  margin-left: auto;
}

.img-medium { height: 150px; }
.img-big { height: 350px; }

.hr-small {
  width: 20%;
  border: 1px solid #999;
  margin: 20px auto;
}

.hr-big {
  width: 98%;
  border: 1px solid #EFEFEF;
  margin: 50px auto;
}

.hr-thick-light-blue { border: 2px solid #47bbd1; }
.hr-thick-orange { border: 2px solid #ffb600; }
.hr-thick-green { border: 2px solid #09c61c; }

/**MENU**/

.menu { line-height: 50px; }

.menu li {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 10px;
}

.img-logo {
  width: 100px;
  margin: 5px 50px 0 0;
  float: left;
}

.menu > .container > .col-2-float-right > ul {
  float: right;
}

/**MAIN CLAIMER**/

.main-claim {
  background-image: url("https://www.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% -25%;
  padding: 6% 0;
}

.main-claim .col-1 { width: 40%; }
.main-claim h1 { font-size: 40px; }
.main-claim a.btn-green { padding: 15px 20px; }

/**CHOOSE USER**/

.choose-user h2 { margin-right: 50px; }

.choose-user h2, .choose-user form, .choose-user a {
  float: left;
  margin-left: 20px;
}

.user-select {
  color: #666;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #CCC;
  background-color: #EFEFEF;
}

/**LESSONS**/

.lessons { padding: 0; }
.lessons img { height: 100%; }

/**ENGLISH ENTERPRISE**/

.english-enterprise {
  background-image: url("https://www.fluentify.com/bundles/fluentifypublic/images/r4b/01/talking.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 8% 0;
}

/**CHOOSE PLANS**/

.choose-plans { padding: 5% 0; }

/**FOOTER**/

footer > .container > .col-2 > ul > li {
  padding-bottom: 10px;
}

/**COLORS, BUTTONS AND BACKGROUNDS**/

.text-white { color: #FFF; }
.text-dark-grey { color: #333; }
.text-light-grey { color: #72879f; }
.text-green, a.link-green { color: #09c61c; }
.text-orange, a.link-orange, .menu > .container > .col-2 > ul > li > a:hover { color: #ffb600; }

a.link-light-blue { color: #47bbd1; }

a.link-grey {
  color: #72879f;
  font-weight: bold;
}

a.btn-dark-blue {
  color: #FFF;
  text-decoration: none;
  background-color: #002663;
  border: 1px solid #003fa5;
  border-radius: 5px;
  padding: 10px 20px;
}

a.btn-green {
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #09c61c;
  border-radius: 5px;
  padding: 10px 20px;
}

.bg-light-grey { background-color: #EFEFEF; }
.bg-dark-blue { background-color: #002663; }
.bg-blue { background-color: #003fa5; }
